<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap" rel="stylesheet">
    <title>Webstore</title>
</head>
<body>
    <div id="app">
        <section id="page-1" v-show="currentPage == 1">
            <h1 id="welcome-text">Welcome to the webstore</h1>
            <button @click="currentPage = 4" id="enter-store">Enter webstore</button>
        </section>
        <section id="page-2" v-show="currentPage == 2">
            <div class="webstore-header">
                <input type="text" placeholder="Search" v-model="searchInput" class="search-bar">
                <h1>Webstore</h1>
                <button class="cart-button" @click="currentPage = 3">Cart</button>
                <button class="stuff-button" @click="currentPage = 4">Login</button>
            </div>
            <div class="products-container" v-show="!searchInput">
                <product v-for="(product, index) in products" v-bind:item="product" v-bind:key="index" v-bind:cart="cart" v-bind:loginstatus="loggedIn"></product>
            </div>
            <div class="products-container" v-show="searchInput">
                <product v-for="(product, index) in filteredItems" v-bind:item="product" v-bind:key="index" v-bind:cart="cart" v-bind:loginstatus="loggedIn"></product>
            </div>
        </section>
        <section id="page-3" v-show="currentPage == 3">
            <div class="webstore-header">
                <h1>Cart</h1>
                <button class="cart-button" @click="currentPage = 2">Webstore</button>
            </div>
            <div class="products-container">
                <cart-product v-for="(product, index) in cart" v-bind:item="product" v-bind:key="index" v-bind:cart="cart"></cart-product>
            </div>
        </section>
        <section id="page-4" v-show="currentPage == 4">
            <div class="webstore-header">
                <button class="store-button" @click="currentPage = 2">Webstore</button>
                <h1>Login To Shop</h1>
            </div>
            <div id="login-container">
                <div id="login-inputs">
                    <div id="stuff-wrapper">
                        <div id="username">
                            <h1>Username</h1>
                            <input type="text" placeholder="Enter username" class="login-inputs" v-model="usernameInput">
                        </div>
                        <div id="password">
                            <h1>Password</h1>
                            <input type="text" placeholder="Enter password" class="login-inputs" v-model="passwordInput">
                        </div>
                    </div>
                    <button class="login-button" @click="login()">Login</button>
                    <button class="login-button" @click="logout()">Logout</button>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>